.border{
    border: 2px solid red;
    margin: 5px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: rgb(23, 23, 23);
    color: white;
}

.invert{
    /* filter: invert(1); */
    filter: brightness(1.9) invert(1) !important;
    
}

.bg-gray{
    background-color: rgb(22, 22, 22);
}

.rounded{
    border-radius: 8px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.box{
    /* width: 32vw; */
    height: 135px;
    margin: 15px 0 20px 7px;
    border-radius: 8px;
    background-color:rgb(36, 36, 36);
    /* flex-shrink: 0; */
    
    
}
.box .h{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 12px;
   

}
.h h4{
    font-size: 15px;
    margin-top: 20px;
   
}
.h p{
    font-size: 12px;
    
}
.h button{
    width: 100px;
}
.lbut{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 9px;
    margin-left: 20px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.lbut:hover{
    background-color: rgb(224, 222, 222);
    transform: scale(1.04);
}
.under-line:hover{
    text-decoration: underline;
    text-decoration-color: antiquewhite;
}
.Rbg-color{
    /* background-color:#2b0e0e; */
    /* background: linear-gradient(to bottom, #2b0e0e 0%, #121212 100%); */
    /* padding: 20px; */
    /* min-height: 100vh; */
    /* background-image: radial-gradient(ellipse at top left, #2b0e0e 0%, transparent 70%); */
}
.card-container{
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    /* max-width: 50vw; */
    margin-top:3px;
    gap: 2px;
    /* background-color: grey; */
    /* padding-left: 20px; */
    padding-left: 30px;
}
.card-container .card{
    flex: 0 0 auto;
    position: relative;
    /* margin-top:7px; */
    width: 175px;
    height: auto;
    padding: 6px 10px 12px 10px;
    /* margin-left: 38px; */
    font-size: 14px;
    /* background-color: grey; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    /* height: 50px; */
    /* padding-left: 30px;  */
    
}
.right::-webkit-scrollbar{
    width: 12px;
} 
.right::-webkit-scrollbar-thumb{
    background-color: azure;
    border-radius: 5px;
    height: 20px;
}
.card-container::-webkit-scrollbar{
    display: none;
}


.card > *{
    padding-top:3px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    /* padding: 10px; */
}
.card p{
    font-size: 12px;
    color: rgb(156, 156, 156);
}
.card:hover{
    background-color: rgb(38, 38, 38);
}
.card h4:hover, .card p:hover{
    text-decoration: underline;
}

