.border{
    border: 2px solid red;
    margin: 5px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: rgb(14, 13, 13);
    color: white;
}

.invert{
    /* filter: invert(1); */
    filter: brightness(1.9) invert(1) !important;
    
}

.bg-gray{
    background-color: rgb(22, 22, 22);
}

.rounded{
    border-radius: 8px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.box{
    /* width: 32vw; */
    height: 135px;
    margin: 15px 0 20px 7px;
    /* margin-left: 3px; */
    /* margin-right: 3px; */
    /* margin-bottom: 20px; */
    border-radius: 8px;
    background-color:rgb(36, 36, 36);
    /* flex-shrink: 0; */
    
    
}
.box .h{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 12px;
   

}
.h h4{
    font-size: 15px;
    margin-top: 20px;
   
}
.h p{
    font-size: 12px;
    
}
.h button{
    width: 100px;
}
.lbut{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 9px;
    margin-left: 20px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.lbut:hover{
    background-color: rgb(224, 222, 222);
    transform: scale(1.04);
}
